/* HeroDetailComponent's private CSS styles */
label {
  display: inline-block;
  margin: .5em 0;
}
.labeled {
  width: 3.5em;
  display: inline-block;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
